/*
Name: Jack Lemoine
File:Assignment3Part2CSS.css
Date: 2025-02-23
Description: Assignment 3 part 2 css file
*/

html {
    font-family: sans-serif;
  }
  
div{
    display: flex;
    width: 200px;
    height: 200px;
    margin: auto;
    border: 1px solid red;
    justify-content: center;
    background-color: red;
    border-radius: 20px;
    box-shadow: 0px 4px 12px 0px black; 
}  

t{
    align-self: center;
    color: white;
}